.box{
    background: linear-gradient(to top, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1));
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    width: 60%;
    height: 50%;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    color: antiquewhite;
    display: block;
    justify-content: center;
    align-items: center;s
    float: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10%;
}

.title{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: grid;
}

p{
    justify-content: center;
    align-items: center;
    display: block;
}

.con{
    margin-left: 40%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.ball{
    position: relative;
    display: flex;
}
span{
    position: fixed;
    width: 30px;
    height: 30px;
    background: rgb(255,116,0);
    margin: -10% 4px 0 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgb(255,116,0);
    animation-name: animate;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    
}
@keyframes animate{
    0%
    {
        transform: scale(5)
    }
    50%
    {
        transform: scale(10)
    }
    100%
    {
        transform: scale(5)
    }
}